.forma {
    width: 1050px;
    margin-top: 90px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    padding: 20px; 
}


.numeros {
    border: 1px solid #000000;
    background-color: #ffffff;
    margin-left: 100px;
    border-radius: 6px;
    padding: 30px;
    color: blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.titulo {
    text-align: left;
    color: #007bff;
    margin-bottom: 30px;
}
.respuesta {
    border: 1px solid #000000;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: blue;
}


.formulario {
    padding: 20px; 
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.formulario .form-control, .formulario .btn {
    border-radius: 5px; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.formulario .btn {
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px; 
    transition: background-color 0.3s; 
}

.formulario .btn:hover {
    background-color: #0056b3; 
}
